<section class="content" id="about">
  <div class="block-content">
    <h3 class="block-title">
      Del manejo de pequeñas empresas al desarrollo web
    </h3>
    <h3 class="subheading">
      ¡Hola! soy Cinta Tafur
      <strong
        >una desarrolladora web junior especializada en tecnologías front-end
      </strong>
    </h3>
    <p>
      Soy una apasionada de la programación y he trabajado en gestión de pymes
      por más de 13 años. Hace tres años, decidí enfocarme en el sector
      tecnológico y he completado un Bootcamp de Desarrollador Fullstack y un
      Ciclo Formativo de Grado Superior DAW en el Colegio de Fomento Las
      Acacias-Montecastelo, Vigo.
    </p>
    <p>
      Disfruto mucho trabajando en equipo. Siempre trato de mantenerme
      actualizada en las últimas tecnologías y metodologías ágiles a través de
      cursos en línea y formaciones independientes.
    </p>

    <p>
      Me considero una persona comprometida, entusiasta, curiosa, autocrítica y
      con iniciativa. Además, soy muy sociable y me encanta el buen humor en el
      ambiente laboral.
    </p>

    <p>
      Mis habilidades en HTML5 avanzado, CSS, CSS3, SASS, LESS, JSON, XML, Java,
      JavaScript, JQuery, Angular JS y Ionic me han preparado para trabajar como
      desarrolladora web, especialmente en el front-end. Además, durante mi
      formación académica he tenido la oportunidad de aplicar estos
      conocimientos en diferentes proyectos y prácticas, lo que me ha permitido
      consolidar y mejorar mis habilidades en esta área
    </p>
    <div class="info-list row">
      <div class="col-sm-6"><span>Nombre : </span>Cinta Tafur</div>
      <div class="col-sm-6">
        <span>Fecha de Nacimiento : </span> Septiembre 23, 1981
      </div>
      <div class="col-sm-6">
        <span>Dirección : </span> España, Pontevedra, Vigo.
      </div>
      <div class="col-sm-6"><span>Email : </span> cintatafur@gmail.com</div>
      <div class="col-sm-6"><span>Telefono : </span> + 34 665 828 070</div>
      <div class="col-sm-6">
        <span>Interes : </span> Desarrollo Web, Fullstack
      </div>
    </div>
  </div>
  <!----------------------------------------- Aptitudes ------------------------------------------------>
  <div class="block-content">
    <h3 class="block-title">Aptitudes</h3>
    <div *ngFor="let aptitudesI of Bd.aptitudes">
      <label class="progress-bar-label">{{ aptitudesI.nombre }}</label>
      <div class="progress">
        <div
          [style.width.%]="aptitudesI.valor"
          class="progress-bar"
          role="progressbar"
          attr.aria-valuenow="{{ aptitudesI.valor }}"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <span>{{ aptitudesI.valor }}%</span>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------- Experiencia ------------------------------------------------>
  <div class="block-content">
    <h3 class="block-title">Experiencia</h3>
    <div class="timeline education">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div *ngFor="let experienciaI of Bd.experiencia">
              <div class="exp" *ngIf="experienciaI">
                <div class="hgroup">
                  
                  <h4>
                    <span>{{ experienciaI.empresa }}</span
                    ><br />
                    {{ experienciaI.cargo }}

                    <br />
                    {{ experienciaI.fecha }}
                  </h4>
                  <br />
                </div>
                <div>
                  <label [innerHTML]="experienciaI.descripcion | slice:0:(experienciaI.leerMas ? undefined : parrafo)"></label>
                  <label (click)="experienciaI.leerMas = !experienciaI.leerMas" class="leerMas">{{ experienciaI.leerMas ? 'Leer menos' : '... Leer más!' }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------------------------------- Educacion ------------------------------------------------>
  <div class="block-content">
    <h3 class="block-title">Educación</h3>
    <div class="timeline education">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">
            <div *ngFor="let educacionI of Bd.educacion">
              <div class="exp" *ngIf="educacionI">
                <div class="hgroup">
                  <h4>
                    <span>{{ educacionI.institucion }}</span>
                    <br />
                    {{ educacionI.titulo }}
                    <br />
                    {{ educacionI.fecha }}
                  </h4>
                  <br />
                </div>
                <div>
                  <label [innerHTML]="educacionI.descripcion | slice:0:(educacionI.leerMas ? undefined : parrafo)" ></label>
                  <label  (click)="educacionI.leerMas = !educacionI.leerMas" class="leerMas">{{ educacionI.leerMas ? 'Leer menos' : '... Leer más!' }}</label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------------------------------- Certificaciones ------------------------------------------------>
  <div class="block-content">
    <h3 class="block-title">Certificaciones</h3>
    <div class="timeline education">
      <div class="row">
        <div class="col-md-12">
          <div class="exp-holder">

            <div *ngFor="let certificacionI of Bd.certificaciones">
              <div class="exp" *ngIf="certificacionI">
                <div class="hgroup">
                  <h4>
                    <span>{{ certificacionI.empresa }}</span><br>
                    {{ certificacionI.nombre }}
                    <br />
                    {{ certificacionI.fecha }}<br>
                   <h4>Id: {{ certificacionI.idCredencial }}</h4> 
                    <a
                      *ngIf="certificacionI.URL"
                      href="{{ certificacionI.URL }}"
                      target="_blank"
                      ><br /><span class="certificado"
                        >Ver Certificado</span
                      ></a
                    >
                  </h4>
                </div>
                <div>
                  <label [innerHTML]="certificacionI.descripcion | slice:0:(certificacionI.leerMas ? undefined : parrafo)" ></label>
                  <label  (click)="certificacionI.leerMas = !certificacionI.leerMas" class="leerMas">{{ certificacionI.leerMas ? 'Leer menos' : '... Leer más!' }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-content">
    <h3 class="block-title">Servicios</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-laptop"></i>
        </div>
        <h4>Diseño Web</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-pie-graph"></i>
        </div>
        <h4>Desarrollo de Aplicaciones</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-paintbucket"></i>
        </div>
        <h4>Diseño Grafico</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-printer"></i>
        </div>
        <h4>Print Design</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-qr-scanner"></i>
        </div>
        <h4>Graphic Design</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 service">
        <div class="service-icon">
          <i class="ion-social-buffer"></i>
        </div>
        <h4>Print Design</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
    </div>
  </div>
  <!--  <div class="block-content">
     <h3 class="block-title">Awards</h3>
     <div class="row">
         <div class="col-md-3 col-sm-6 awards">
             <img src="assets\images\awards\1.jpeg" alt="">
         </div>
         <div class="col-md-3 col-sm-6 awards">
             <img src="assets\images\awards\2.jpeg" alt="">
         </div>
         <div class="col-md-3 col-sm-6 awards">
             <img src="assets\images\awards\3.jpeg" alt="">
         </div>
         <div class="col-md-3 col-sm-6 awards">
             <img src="assets\images\awards\4.jpeg" alt="">
         </div>
     </div>
 </div> -->
  <div class="block-content">
    <h3 class="block-title">Testimonios</h3>
    <div class="row">
      <div id="liontestimonial" class="owl-carousel owl-theme">
        <!--      <div *ngFor="let testix of cv.testimonio">
               <div class="item testimonials">
                   <img src="assets\images\testimonials\1.jpeg" alt="">
                   <blockquote>{{ testix.Descripcion }}
                       <p class="quote"><span>{{ testix.Nombre }}</span> - {{ testix.Cargo }}</p>
                   </blockquote>
               </div>
           </div> -->
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 btn-email">
      <a class="btn lowercase">davisanderson87@gmail.com</a>
    </div>
  </div>
</section>
