<section class="content fondo-card">
    <h3 class="block-title text-center" style="padding: 20px 16px 16px">🔬 Explora Mi Laboratorio 🧪 :</h3>
    <div class="block-content">
      <h3 class="block-title text-center" style="padding: 20px 16px 16px">
        🚀 Proyectos
      </h3>
        <app-proyecto></app-proyecto>
    </div>
    
    <div class="row text-center">
      <div class="col-md-12 btn-email">
        <a class="btn lowercase">shout@james.com</a>
      </div>
    </div>
  </section>
  