@import "../../styles.scss";

.github-icon {
  width: 2%; /* Ajusta el ancho según el tamaño deseado */
  height: auto; /* El alto se ajustará automáticamente para mantener la proporción */
}

.fondo-card {
  background-color: $background-darkFondo;

  .block-title {
    border-bottom: none;
  }
}
