<!-- <button class="btn btn-downloadFoto icon-github-alt text-center">Ver</button> -->

<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title">{{ proyectoListaData.titulo }}</h4>
  </div>
  <div class="modal-body">
    <p>{{ proyectoListaData.descripcion }}&hellip;</p>
    <ng-container >
      <video controls class="video-player">
        <source [src]="proyectoListaData.demo" type="video/mp4" />
        Tu navegador no admite la reproducción de videos.
      </video>
     </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-downloadClose mb-2 me-2"
      (click)="modal.close('Close click')"
    >
      <!--     Close -->
      <i
        class="fas fa-regular fa-xmark fa-bounce fa-2xl"
      ></i>
    </button>
  </div>
</ng-template>
<button
  class="btn btn-downloadFoto icon-github-alt text-center mb-2 me-2"
  (click)="openBackDropCustomClass(content)"
>
  Ver Demo
</button>
