@import "/src/styles.scss";

.content {
  background-color: #1e1f26;
  .block-title {
    border-bottom: none;
  }
  p {
    color: $color-textoResumen;
    font-family: $tipografia-general;
  }

  .progress-bar-label {
    color: $fuente-bluePastel;
  }

  .carousel-caption{
    padding-bottom: 5rem;
  }

  .descripcion{
    color: whitesmoke;
  }
}
.subtitulo {
  font-size: 30px;
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 30px;
  text-transform: none;
  color: $fuente-bluePastel;
  strong {
    color: $fuente-bluePastel;
  }
}
.listaContacto {
  color: $color-textoResumen !important;
  font-family: $tipografia-general;
  border-bottom: none;
  border-top: none;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 20px 0;
  overflow: auto;

  span {
    color: $color-textoResumen !important;
    font-weight: 400;
    margin-right: 5px;
  }

  div {
    padding-left: 0;
    padding-right: 0;
  }
  .fas {
    color: $background-blueSatu;
  }
}
.progress {
  height: 2px;
  margin-bottom: 50px;
  background-color: $background-darkFondo;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  width: 90%;

  &-bar {
    border-radius: 5px;

    span {
      color: $color-textoResalt;
      background: $background-body;
      font-size: 18px;
      font-weight: 425;
      text-align: right;
      border-radius: 5px;
    }
  }

  &-bar-label {
    color: $color-textoResalt;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.timeline {
  position: relative;

  &:before {
    background: $background-body;
    bottom: 0;
    content: "";
    left: 18px;
    position: absolute;
    top: 50px;
    width: 1px;
    height: 75%;
  }

  &:after {
    /* font-family: "Font Awesome 5 Free"; */
    top: 0;
    left: -5px;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    color: $background-body;
    font-size: 36px;
    line-height: 45px;
  }

  &.experience:after {
    content: "\2714"; /* Marca de verificación ✔️ */
    color: $background-blueSatu;
  }

  &.education:after {
    content: "\270D"; /* Emoji para educación */
    color: $background-blueSatu;
  }
  &.certificacion:after {
    content: "\1F393"; /* Emoji para educación */
    color: $background-blueSatu;
  }
}

.exp {
  padding: 20px 20px 0 80px;
  position: relative;

  &:after {
    background: $background-blueSatu;
    border: 2px solid $background-blueSatu;
    border-radius: 50%;
    content: "";
    height: 20px;
    left: 9px;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 20px;
  }

  .exp-holder {
    margin-top: 70px;
  }

  .hgroup h4,
  .hgroup h5 {
    display: table-cell;
    text-transform: none;
    margin-bottom: none;
    border-bottom: none;
  }

  .hgroup {
    margin-bottom:none;
    color: $fuente-h4;
  }
  .texto-color {
    color: $color-textoResalt;
  }
}
.texto-exp {
  label.text-label {
    color: $color-textoResumen;
  }

  label.leerMas {
    color: $fuente-LeerMas;

    &:hover {
      color: $background-blueSatu;
    }
  }
}
.certificado {
  color: $fuente-bluePastel !important;

}
.certificado:hover {
  color: $fuente-LeerMas !important;
  text-decoration: none;
}
.service{
  h4{
    color: $color-textoResumen;
  }
}

.exp .hgroup h4 span {
  color: $color-textoResumen;
}

.exp .hgroup h5 {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  color: #727272;
  padding-left: 60px;
  position: relative;

  &:before {
    color: $background-body;
    content: "/";
    left: 30px;
    position: absolute;
  }
}

.exp .hgroup h5 span.current {
  font-style: italic;
}
