<div class="row row-cols-1 row-cols-md-3 g-4">
  <div
    class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12"
    *ngFor="let proyectoLista of proyectoList"
  >
    <div
      class="card h-100 shadow mb-3"
      style="width: 100%; background-color: #23242c"
    >
      <a class="" href="{{ proyectoLista.urlPg }}">
        <div class="portfolio-column">
          <div class="portfolio-hover">
            <div class="portfolio-content">
              <h2>{{ proyectoLista.titulo }}</h2>
              <br />
              <p>
                <a
                  class="iconito icon-github-alt"
                  href="{{ proyectoLista.urlGH }}"
                >
                  <span class="fa fa-github-alt"></span>
                </a>
              </p>
            </div>
            <div class="portfolio-overlay"></div>
          </div>
          <img
            src="{{ proyectoLista.urlImage }}"
            alt="imagen"
            class="img-responsive"
          />
        </div>
      </a>
      <div
        class="card-footer text-center bg-opacity-10"
        style="border-top: none"
      >
        <app-modal [proyectoListaData]="proyectoLista"></app-modal>
      </div>
    </div>
  </div>
</div>
