<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<div class="inline-menu-container">
  <span class="status">Disponible como desarrolladora web</span>
  <ul class="inline-menu">
    <li class="about menu-item">Sobre mí</li>
    <li class="portfolio menu-item">Proyectos</li>
    <li class="blog menu-item">Recursos</li>
    <li class="contact menu-item">Contacto</li>
    <li id="close" class="menu-item"><i class="ion-ios-close-empty"></i></li>
  </ul>
</div>
<section class="home">
  <div class="bgScroll"></div>
  <div class="overlay opacity7"></div>
  <div class="container">
    <div class="name-block">
      <div class="name-block-container">
        <!-- 
        <h1><span>Hola, Soy</span></h1>
        <h2>Desarrolladora Web Full Stack & Programadora FrontEnd</h2>
 -->
        <div class="nav">
          <h1 class="saludos">Hola, Soy</h1>
          <h3 class="span loader">
            <span class="m">C</span><span class="m">i</span
            ><span class="m">n</span><span class="m">t</span
            ><span class="m">a</span><span class="m">&nbsp;</span
            ><span class="m">T</span><span class="m">a</span
            ><span class="m">f</span><span class="m">u</span
            ><span class="m">r</span><span class="m">,</span><br /><br />
            <span class="m"><!-- &nbsp; --></span>
            <span class="m">P</span><span class="m">r</span>
            <span class="m">o</span><span class="m">g</span
            ><span class="m">r</span><span class="m">a</span
            ><span class="m">m</span><span class="m">a</span
            ><span class="m">d</span><span class="m">o</span
            ><span class="m">r</span><span class="m">a</span
            ><span class="m">&nbsp;</span><span class="m">W</span
            ><span class="m">e</span><span class="m">b</span>
          </h3>
        </div>

        <a target="_blank" href="" class="btn btn-download">Descargar CV</a>
        <ul class="social">
          <li>
            <a
              href="https://www.facebook.com/cinta.tafurcerrejon/"
              target_="_blank"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/cinta-tafur/" target_="_blank"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/CinTutuDev"
              ><i class="fa-brands fa-github-alt" target_="_blank"></i
            ></a>
          </li>
          <li>
            <a href="https://discord.gg/Cinta#3003" target_="_blank"
              ><i class="fa-brands fa-discord"></i
            ></a>
          </li>
          <li>
            <a href="https://wa.me/665828070"
              ><i class="fa-brands fa-whatsapp" target_="_blank"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/cintutudev/"
              ><i class="fa-brands fa-instagram" target_="_blank"></i
            ></a>
          </li>
          <li>
            <a href="https://codepen.io/LaTutu"
              ><i class="fa-brands fa-codepen" target_="_blank"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu-blocks">
      <div class="about-block menu-block">
        <div class="about-block-container">
          <h2 class="about menu-item">Sobre mí</h2>
        </div>
      </div>
      <div class="portfolio-block menu-block">
        <div class="portfolio-block-container">
          <h2 class="portfolio menu-item">Proyectos</h2>
        </div>
      </div>
      <div class="blog-block menu-block">
        <div class="blog-block-container">
          <h2 class="blog menu-item">Recursos</h2>
        </div>
      </div>
      <div class="contact-block menu-block">
        <div class="contact-block-container">
          <h2 class="contact menu-item">Contacto</h2>
        </div>
      </div>
    </div>

    <div class="content-blocks about">
      <app-resumen></app-resumen>
    </div>

    <div class="content-blocks portfolio">
      <app-proyectos></app-proyectos>
    </div>
    <div class="content-blocks blog">
      <app-recursos></app-recursos>
    </div>
    <div class="content-blocks contact">
      <app-contacto></app-contacto>
    </div>

    <div class="content-blocks pop">
      <div id="close-pop" class="close-pop">
        Cerrar <i class="ion-ios-close-empty"></i>
      </div>
      <section class="content"></section>
    </div>
  </div>
</section>
