<div>
  <img src="assets/images/perfil/LandingContacto.png" class="mt-4" />
</div>
<section class="nav">
  <div class="block-content">
    <h2 class="block-title">Formulario de contacto o sugerencias 📬</h2>
    <div class="row">
      <div class="col-md-12">
        <form
          class="contact-form"
          action="https://formsubmit.co/6fb3a89c4ac279240907cc1b363f0488"
          method="POST"
          id="contact_form"
          (ngSubmit)="submitForm()"
        >
          <div class="form-control-wrap">
            <div id="message" class="alert alert-danger alert-dismissible fade">
              {{ errorMessage }}
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="fname"
                placeholder="Nombre*"
                name="fname"
                [(ngModel)]="formData.name"
                required
                [ngClass]="{ error: !formData.name }"
              />
            </div>

            <div class="form-group mar-top-40">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Correo Electrónico*"
                name="email"
                [(ngModel)]="formData.email"
                required
              />
            </div>

            <div class="form-group mar-top-60">
              <textarea
                class="form-control"
                rows="10"
                name="comment"
                id="comment"
                placeholder="Su Mensaje*"
                [(ngModel)]="formData.message"
              ></textarea>
            </div>

            <div class="form-group mar-top-40 ">
              <button type="submit" class="btn v7 btn btn-downloadGoogle">Enviar Mensaje</button>
              <input type="hidden" name="_captcha" value="false" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

