@import "/src/styles.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.block-title{
  color:$fuente-bluePastel;
  border-bottom: 3px solid $fuente-LeerMas;
}
.form-control{
  color: whitesmoke;
}
.error {
  border-color: red;
  color: red;
}
.nav
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: #1e1f26;
  text-align: center;
  padding: 0 2em;
}


section {
  max-width: 1500px;
  background: #ad2a2a;
}
img {
  width:100%;

}
h1 {
  text-align: center;
  flex-basis: 500px;
  margin-left: 40%;
  font-size: 3.5em;
 /*  font-family: serif;
  font-style: italic;
 font-weight: lighter; */
}

input {
  margin: 10px 20px;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #3E3E3E;
  font-style: italic;
  /* font-family: serif; */
  background-color: #EFEFEF;
  outline-style: none;
}
/*placeholder settings*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3E3E3E;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3E3E3E;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #3E3E3E;
  opacity: 1;
}
input:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/*end placeholder*/

textarea {
  margin: 15px 20px 30px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
 /*  font-family: serif;
  font-style: italic; */

}
.submit {
  box-sizing: border-box;
  margin: 30px;
  width: 48%;
  text-align: center;
}
.submit input {
  box-sizing: border-box;
  text-transform: uppercase;
 /*  font-family: sans-serif; */
  font-style: normal;
  border: 1px solid;
}
