<br>
<h2  class="block-title">Recursos</h2>

<ul class="list-group">
  <li 
  routerLink="repositorios"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="lista list-group-item">Explora Mis Repos</li>
  <li
   routerLink="angular"
   routerLinkActive="active"
   class="lista list-group-item">
   Angular mi superpoder
  </li>
  <li 
   routerLink="inspiracion"
   routerLinkActive="active"
   class="lista list-group-item">
   ¡Dónde me motivo!
  </li>
  <li 
  routerLink="disenio"
  routerLinkActive="active"
  class="lista list-group-item">
  Diseño creativos 
 </li>
 <li 
 routerLink="cursos"
 routerLinkActive="active"
 class="lista list-group-item">
 Cursos, mi camino al éxito
</li>
</ul>
