<br />
<h2 class="block-title border-bottom-0 text-center">Recursos</h2>
<header class="header">
  <!-- <button class="button dropdown">Buttons
  <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg>
</button> -->
  <nav class="nav">
    <ul class="list-group">
      <li
        routerLink="repositorios"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="lista list-group-item"
      >
        <h4>🔍Explora Mis Repos</h4>
      </li>
      <li
        routerLink="angular"
        routerLinkActive="active"
        class="lista list-group-item"
      >
        <h4>⚡️Angular mi superpoder</h4>
      </li>
      <li
        routerLink="inspiracion"
        routerLinkActive="active"
        class="lista list-group-item"
      >
        <h4>💪¡Dónde me motivo!</h4>
      </li>
      <li
        routerLink="cursos"
        routerLinkActive="active"
        class="lista list-group-item"
      >
        <h4>🎓Cursos, mi camino al éxito</h4>
      </li>
    </ul>
  </nav>
</header>
