<div class="content">
  <h3 class="block-title">Cajón de Herramientas y Recursos</h3>

  <!-- repos -->
  <div class="block-content">
    <h4 class="block-title">Repos</h4>
  <div class="row" style="width: 100%; margin: 0 auto;">
    <div class="col-md-10 mx-auto">
      <mat-card class="cardRec" *ngFor="let repoGH of Bd.repo">
        <mat-card-header>
          <div mat-card-avatar>
            <img src="{{ repoGH.logoIco }}" alt="Avatar">
          </div>
          <mat-card-title>
            <div class="post-title">
              <a href="#"><h2>{{ repoGH.titulo }}</h2></a>
            </div>
          </mat-card-title>
         <!--  <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <div mat-card-image>
          <img src="{{ repoGH.src }}" alt="srcImg">
        </div>
        <mat-card-actions>
          <div class="serviceIcon">
            <a class="btn-download3" target="_blank" href="{{ repoGH.url }}">
              <i [class]="repoGH.icono"></i>
              GitHub
            </a>
          </div>
          
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
   <!-- Angular -->


<div class="block-content">
  <h4 class="block-title">Angular</h4>
<div class="row" style="width: 100%; margin: 0 auto;">
  <div class="col-md-10 mx-auto">
    <mat-card class="cardRec" *ngFor="let angular of Bd.angular">
      <mat-card-header>
        <div mat-card-avatar>
          <img src="{{ angular.logoIco }}" alt="Avatar">
        </div>
        <mat-card-title>
          <div class="post-title">
            <a href="#"><h2>{{ angular.titulo }}</h2></a>
          </div>
        </mat-card-title>
       <!--  <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <div mat-card-image>
        <img src="{{ angular.src }}" alt="srcImg">
      </div>
      <mat-card-actions>
        <div class="serviceIcon">
          <a class="btn-download3" target="_blank" href="{{ angular.url }}">
            <i [class]="angular.icono"></i>
            Docu
          </a>
        </div>
        
        </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>


</div>

