<!-- <div class="containerB"> -->
 <!--  <h3 class="block-title">Cajón de Herramientas y Recursos</h3> -->

  <!-- repos -->
<!--   <div class="block-content">
    <h4 class="block-title" style="padding: 20px 16px 16px;">Repos 🌳</h4>

  <div class="row" style="width: 100%; margin: 0 auto;">
    <div class="col-md-10 mx-auto">
      <mat-card class="cardRec" *ngFor="let repoGH of Bd.repo">
        <mat-card-header>
          <div mat-card-avatar>
            <img src="{{ repoGH.logoIco }}" alt="Avatar">
          </div>
          <mat-card-title>
            <div class="post-title">
              <a href="#"  [style.textDecoration]="'none'"><h3>{{ repoGH.titulo }}</h3></a>
            </div>
          </mat-card-title>
        
        </mat-card-header>
        <div mat-card-image>
          <img src="{{ repoGH.src }}" alt="srcImg">
        </div>
        <mat-card-actions>
          <div class="serviceIcon">
            <a class="btn-download3" target="_blank" href="{{ repoGH.url }}">
              <i [class]="repoGH.icono"></i>
              GitHub
            </a>
          </div>
          
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->
   <!-- Angular -->


 <!-- <div class="block-content">
  <h4 class="block-title" style="padding: 20px 16px 16px;">Angular 🔧🔩</h4>
<div class="row" style="width: 100%; margin: 0 auto;">
  <div class="col-md-10 mx-auto">
    <mat-card class="cardRec" *ngFor="let angular of Bd.angular">
      <mat-card-header>
        <div mat-card-avatar>
          <img src="{{ angular.logoIco }}" alt="Avatar">
        </div>
        <mat-card-title>
          <div class="post-title">
            <h3>{{ angular.titulo }}</h3>
          </div>
        </mat-card-title>

      </mat-card-header>
      <div mat-card-image>
        <img src="{{ angular.src }}" alt="srcImg">
      </div>
      <mat-card-actions>
        <div class="serviceIcon">
          <a class="btn-download3" target="_blank" href="{{ angular.url }}">
            <i [class]="angular.icono"></i>
            Docu
          </a>
        </div>
        
        </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>  -->

<!-- <div class="block-content">
  <h4 class="block-title" style="padding: 20px 16px 16px;">Inspiración💡</h4>
<div class="row" style="width: 100%; margin: 0 auto;">
  <div class="col-md-10 mx-auto">
    <mat-card class="cardRec" *ngFor="let InspiracionI of Bd.inspiraciones">
      <mat-card-header>
        <div mat-card-avatar>
          <img src="{{ InspiracionI.logoIco }}" alt="Avatar">
        </div>
        <mat-card-title>
          <div class="post-title">
            <h3>{{ InspiracionI.titulo }}</h3>
          </div>
        </mat-card-title>
    
      </mat-card-header>
      <div mat-card-image>
        <img src="{{ InspiracionI.src }}" alt="srcImg">
      </div>
      <mat-card-actions>
        <div class="serviceIcon">
          <a class="btn-download3" target="_blank" href="{{ InspiracionI.url }}">
            <i [class]="InspiracionI.icono"></i>
            Web
          </a>
        </div>
        
        </mat-card-actions>
    </mat-card>
  </div>
</div>
</div> -->
<!-- </div> -->

<div class="containerB">
  <h3 class="block-title">Cajón de Herramientas y Recursos</h3>

  <div class="row mt-4">
    <div class="col-3">
      <!-- alider -->
      <shared-menu></shared-menu>
    </div>

    <div class="col">
      <!-- paginas -->
   <router-outlet></router-outlet>
   
    </div>



  </div><!-- row -->

</div><!-- container -->

